name: Build and Docker Push

on:
  push:
    branches:
      - main
      - V36-Uppgift-3-4
      - Log-Stream

jobs:
  build-service1:
    name: Build and Push Service 1
    runs-on: ubuntu-latest

    # behörigheter för att köra CodeQL och pusha till gh-pages
    permissions: 
      contents: write # Behövs för att pusha till gh-pages
      security-events: write # Behövs för CodeQL

    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Test Service 1
        run:  docker build -t devmilton/service1:runtime ./service1
      
      # Kör testerna i containern
      - name: Run test
        run: docker run --rm devmilton/service1:runtime npm test

      - name: Push Service 1
        run: docker push devmilton/service1:runtime

  build-service2:
    name: Build and Push Service 2
    runs-on: ubuntu-latest

      # behörigheter för att köra CodeQL och pusha till gh-pages
    permissions: 
      contents: write # Behövs för att pusha till gh-pages
      security-events: write # Behövs för CodeQL

    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Test Service 2
        run: docker build -t devmilton/service2:runtime ./service2
      
      - name: Run test
        run: docker run --rm devmilton/service2:runtime npm test

      - name: Push Service 2
        run: docker push devmilton/service2:runtime
